.menu {
    //background: url("UI/Menu/shoot-dont-shoot-menu-bg.png");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // padding: 50px;
    padding: 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    // font-family: "paper cuts 2";
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Alfa Slab One';
    transform: scale( 1 );
    transition: all 0.1s linear; // ease-out;
    //transition: none;
    pointer-events: all;
    //background-color: white; // rgba(25,25,200,1);
    background-color: transparent; // rgba(25,25,200,1);

    &.visible {
        opacity: 1;
    }

    &.invisible {
        opacity: 0;
    }

    > .title {
        align-self: flex-end;
        font-size: 128px;
        color: #fff;
        text-shadow: 0px 0px 2px black;
        flex-shrink: 0;
        font-family: Consolas;
    }

    > .container {
        gap: 50px;
        width: 100%;
        height: 100%;

        .title {
            align-self: center;
            font-size: 80px;
            flex-shrink: 0;
        }

        > .buttons {
            flex-direction: column;
            justify-content: flex-end;
            flex-shrink: 0;
            // gap: 8px;
        }

        > .buttonsalt {
            flex-direction: row;
            justify-content: flex-end;
            flex-shrink: 0;
            align-items: flex-end;
            // gap: 8px;
        }

        .button {
            flex-shrink: 0;
            background-color: rgb(20,20,20);
            color: rgba(255,255,255, 0.9);
            width: 500px;
            border: 5px solid transparent;
            border-radius: 0;
            padding: 15px 32px;
            text-align: center;
            align-self: center;
            font-size: 54px;
            font-weight: 600;
            // margin: 4px 2px;
            margin: 0;
            transition: all 50ms linear;
            cursor: pointer;

            &:hover {
                sound-in: ui.button.over;
            }

            &:active {
                border: 5px solid black;
            }

            &.cowboy {
                color: white;
                background-color: transparent;
                box-shadow: none;

                &:hover {
                    color: yellow;
                }

                &:active {
                    //color: lightgoldenrodyellow;
                    border-color: transparent;
                }
            }

            &.green {
                background-color: #4CAF50;

                &:hover {
                    background-color: #57BB5A;
                }

                &:active {
                    background-color: #45A049;
                }
            }

            &.red {
                background-color: #F44336;

                &:hover {
                    background-color: #EC594F;
                }

                &:active {
                    background-color: #D32F2F;
                }
            }

            &.blue {
                background-color: #2196F3;

                &:hover {
                    background-color: #529FDF;
                }

                &:active {
                    background-color: #1283DE;
                }
            }

            &.yellow {
                background-color: #CEBF13;

                &:hover {
                    background-color: #D6C93C;
                }

                &:active {
                    background-color: #C3B300;
                }
            }

            &.indigo {
                background-color: #272A5C;

                &:hover {
                    background-color: #393D77;
                }

                &:active {
                    background-color: #282A4C;
                }
            }

            &.brown {
                background-color: #8B4513;
                color: white;

                &:hover {
                    background-color: #8B4513;
                }

                &:active {
                    background-color: #663919;
                }
            }

            &.gray, &.grey {
                background-color: #666;
                color: white;

                &:hover {
                    background-color: #777;
                }

                &:active {
                    background-color: #444;
                }
            }

            &.lightgray, &.lightgrey {
                background-color: #aaa;
                color: white;

                &:hover {
                    background-color: #777;
                }

                &:active {
                    background-color: #666;
                }
            }

            &.translucent {
                color: rgba(255,255,255, 1);
                backdrop-filter: blur(5px);
                text-shadow: 0px 0px 2px black;
            }

            &.translucent:hover {
                text-shadow: 1px 1px 2px black;
            }

            &.translucent.green {
                background-color: #4CAF50D7;

                &:hover {
                    background-color: #4CAF50;
                }

                &:active {
                    background-color: #45A049;
                }
            }

            &.translucent.red {
                background-color: #F44336D7;

                &:hover {
                    background-color: #F44336;
                }

                &:active {
                    background-color: #D32F2F;
                }
            }

            &.translucent.blue {
                background-color: #2196F3B7;

                &:hover {
                    background-color: #2196F3;
                }

                &:active {
                    background-color: #1E87F0;
                }
            }

            &.translucent.yellow {
                background-color: #C3B300D7;

                &:hover {
                    background-color: #C3B300;
                }

                &:active {
                    background-color: #B4A400;
                }
            }

            &.translucent.indigo {
                background-color: #333776B7;

                &:hover {
                    background-color: #333776;
                }

                &:active {
                    background-color: #2B3072;
                }
            }

            &.translucent.brown {
                background-color: #8B4513D7;
                text-shadow: 1px 1px 0px #7700EF;
                color: white;

                &:hover {
                    background-color: #8B4513;
                }

                &:active {
                    background-color: #663919;
                }
            }

            &.transparent {
                background-color: transparent;
                text-shadow: 1px 1px 1px #7700EF;
                color: white;
                border: none;

                &:hover {
                    color: yellow;
                }

                &:active {
                    color: #FFA500;
                }
            }

            &.fake {
                background-color: transparent;
                text-shadow: 1px 1px 0px #7700EF;
                color: white;
                pointer-events: none;
                cursor: default;

                &:hover {
                    background-color: transparent;
                }

                &:active {
                    background-color: transparent;
                }
            }

            .icon {
                font-size: 65px;
                line-height: 50px;
                padding: 0px;
                margin: 0;
                margin-right: 10px;
                color: rgba(255,255,255,0.88);
            }

            &.translucent .icon {
                color: rgba(255,255,255, 1);
            }

            &.small {
                font-size: 40px;
                width: auto;
                border-radius: 20px;
            }
        }

        > .buttons {

            > .button-group:first-child .button,
            > .button:first-child {
                border-radius: 100px 10px 0 0;
            }

            > .button-group:last-child .button,
            > .button:last-child {
                border-radius: 0 0 100px 10px;
            }

            .button.singular {
                border-radius: 100px 10px 100px 10px;
            }
        }

        .button-bg {
            border-radius: 100px 10px 100px 10px;
            // box-shadow: 0 100px 10px black;
            //box-shadow: 0 0 200px rgba(50,50,50,0.5);
            //margin: 10px;
            flex-direction: column;

            > .button:first-child {
                border-radius: 100px 10px 0 0;
            }

            > .button:last-child {
                border-radius: 0 0 100px 10px;
            }

            > .button.singular {
                border-radius: 100px 10px 100px 10px;
            }
        }
        /*.content-panel {
            height: 100%;
            flex-grow: 1;
            background-color: rgba(black, 0.8);
            // What's this going to be used for?
        }*/

        .content {
            padding: 10px;
            flex-grow: 1;
            flex-direction: column;
            border-radius: 2em;

            &.bg {
                background-color: rgba(220,220,220,0.5);
            }
        }
    }
}

.menu.translucent-bg {
    transition: none 0ms;
    //transition: filter 250ms linear, opacity 500ms linear;

    &.invisible .container .content {
        backdrop-filter: blur(0px);
        background-color: rgba(255,255,255,0.3);
    }

    &.visible .container .content {
        backdrop-filter: blur(25px);
        background-color: rgba(255,255,255,0.3);
    }

    .container .content {
        background-color: rgba(255,255,255,0.9);
        // backdrop-filter: blur(25px);
        padding: 1em;
    }
}

.menu.stretched {
    .container .content {
        margin: -2em -2em -2em 0;
        border-radius: 0em;
    }
}