@import "./Shared/Menu.scss";
@import "./Shared/Stats.scss";

LeaderboardsScreen.menu {
	.title {
		color: gold;
		text-shadow: 0 0 5px #977F02;
		box-shadow: none;
	}

	h1 {
		font-size: 40px;
		margin: 20px 0 0 0;
	}
}
