@import "./Shared/Menu.scss";

MainMenuScreen.menu {
	background-color: transparent;
	//background: url("UI/Menu/shoot-dont-shoot-menu-bg.png");
	.title {
		text-shadow: 2px 2px 50px black, 0 0 5px black;
	}

	> .container {
		.buttons {
			justify-content: center;
		}

		.button-bg {
			//margin-bottom: 300px;
		}

		.button.cowboy {
			padding: 15px 32px;
		}
	}
}
