@import "./Shared/Menu.scss";
@import "./Shared/Stats.scss";

PassThruMenuScreen.menu {
	pointer-events: none;

	.title {
		text-shadow: none;
		box-shadow: none;
	}

	.button {
		pointer-events: all;
	}
}
