@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Audio;
@using Sandbox.Services;
@using System;
@inherits PanelComponent

<root class="menu">
    <div class="container">
        <div class="buttons">
            <div class="button-bg">
                <div class="button cowboy singular" onclick="@(() => ButtonBack())">
                    @if (Input.UsingController)
                    {
                        <InputGlyph button="Back" /></span>
                    }
					Back
                </div>
            </div>
        </div>
    </div>

</root>

@code
{
    protected override void OnUpdate()
    {
        base.OnUpdate();

        if (!HasClass("visible"))
            return;

        if (Input.Pressed("Back"))
        {
            ButtonBack();
        }
    }

	void ButtonBack()
	{
		MainMenu.instance.SetMenuState(MenuState.Main);
        var soundHandle = Sound.Play("ui.navigate.back");
        soundHandle.TargetMixer = Mixer.FindMixerByName("UI");
	}

	/// <summary>
    /// update every second
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( RealTime.Now.CeilToInt() );
}
