@import "./Shared/Menu.scss";
@import "./Shared/Table.scss";

SettingsScreen.menu {
	.title {
		color: saddlebrown;
		text-shadow: none;
		box-shadow: none;
	}

	// Buttons on the left side
	.container .buttons {
		.button-bg .button {
			width: 100%;
			min-width: 400px;
			max-width: 600px;
		}
	}

	.container {
		flex-direction: row;
		justify-content: space-between;
	}

	.content {
		height: 100%;
		max-width: 1750px;
		align-self: flex-end;

		// Buttons inside the content box
		.buttons {
			.button {
				padding: 10px;
				font-size: 30px;
			}
		}

	}

	.table {
		color: #333;
		align-self: center;
		max-width: 1500px;
		width: 85%;
		font-size: 30px;

		.row {
			font-weight: 600;
			margin: 10px 0;
		}

		.row.title {
			color: #333;
			margin-top: 20px;
			padding: 5px 0;
			justify-content: flex-start;
			font-size: 32px;
			font-weight: 800;
			border-bottom: 0.2em solid rgb(30, 30, 30, 0.25);
		}

		.row.setting.volume.music.disabled {
			opacity: 0.25;
		}

		.column.value {
			.button {
				width: 100px;
				justify-content: center;
			}

			.button:first-child {
				border-radius: 10px 0 0 10px;
			}

			.button:last-child {
				border-radius: 0 10px 10px 0;
			}
		}

		SliderControl {
			width: 100%;
		}
	}
}