@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent

<root class="menu">
	<div class="container">
		<div class="buttons">
				<div class="button red singular" onclick="@(() => ButtonBack())">Back</div>
			@* <div class="button-bg">
			</div> *@
		</div>
		<div class="content">
			<div class="title">
				<span>Settings</span>
			</div>
		</div>

		<div class="buttons">
			<div class="label">One Handed Mode:</div>
			<div class="button @oneHandedColorOff singular" onclick="@(() => SetOneHandedMode(false))">Off</div>
			<div class="button @oneHandedColorOn singular" onclick="@(() => SetOneHandedMode(true))">On</div>
		</div>
	</div>
</root>

@code
{
	string oneHandedColorOff => GamePreferences.instance.useOneHandedMode ? "gray" : "red";
	string oneHandedColorOn => GamePreferences.instance.useOneHandedMode ? "green" : "gray";

	void ButtonBack()
	{
		MainMenu.instance.SetMenuState(MenuState.Main);
		Sound.Play("ui.navigate.back");
	}

	void SetOneHandedMode(bool enabled)
	{
		GamePreferences.instance.useOneHandedMode = enabled;
		GamePreferences.instance.Save();
		Sound.Play("ui.button.press");
	}

	/// <summary>
    /// update every second
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( RealTime.Now.CeilToInt() );
}