@import "../Menu/Shared/Menu.scss";
@import "../Menu/Shared/Table.scss";

AfterActionReportScreen.menu {
	background-color: transparent;
	pointer-events: none;
	cursor: default;

	font-family: 'Alfa Slab One';

	.menu > .title {
		font-family: 'Alfa Slab One';
	}

	.title {
		font-family: 'Alfa Slab One';

		margin: 30px 50px;
		font-size: 60px;
		//color: lightgray;
	}

	.container {
		align-items: flex-end;
		gap: 0;

		.buttonsalt {
			.button-group {
				//height: 64px;
				align-items: flex-end;
				flex-direction: row;
				align-items: center;
			}
		}
	}

	.table {
		margin: -150px 0 0 0;
		max-width: 1600px;

		.row {
			color: white;
			width: 100%;
			padding: 25px 0;
		}

		.row, .column {
			align-items: center;
			justify-content: center;
		}

		.medals {
			height: 125px;
			margin: 0 60px;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			img.medal {
				flex-direction: column;
				align-self: flex-start;
				flex-grow: 0;
				flex-shrink: 0;
				width: 200px;
				height: 200px;
				margin: -37.5px -30px;
			}

			img.medal.onyx.unlocked:last-child {
				margin: -37.5px 0 0 0;
			}
		}
	}
}
