@import "../Menu/Shared/Menu.scss";
@import "../Menu/Shared/Table.scss";

AfterActionReportScreen.menu {
	padding: 0;
	background-color: transparent;
	pointer-events: none;
	cursor: default;

	font-family: 'Alfa Slab One';

	.menu > .title {
		font-family: 'Alfa Slab One';
	}

	.title {
		font-family: 'Alfa Slab One';

		margin: 10px;
		font-size: 50px;
		color: white;

		text-shadow: 1px 1px 2px black, 1px 1px 20px black;
		//color: lightgray;
	}

	.container {
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 0;

		.content {
			margin-top: 175px;
			padding: 20px;
			width: auto;
			flex-shrink: 0;
			flex-grow: 0;
		}

		.buttonsalt {
			align-self: flex-start;
			.button-group {
				align-items: flex-end;
				flex-direction: row;
				align-items: center;
			}

			.button {
				flex-grow: 0;
				flex-shrink: 0;
				width: auto;
				margin: 0 10px;
			} 
		}
	}

	.container .button {
		font-size: 35px;
	}

	.report {
		font-size: 30px;

		.table {
			margin: 0;
			max-width: 1000px;

			.row {
				color: white;
				width: 100%;
				padding: 10px 0;
			}

			.row, .column {
				align-items: center;
				justify-content: center;
			}

			.medals {
				margin: 0 5px;
			}

			.medal-container {
				height: auto;
				margin: 0;

				img.medal {
					flex-direction: column;
					align-self: flex-start;
					flex-grow: 0;
					flex-shrink: 0;
					width: 300px;
					height: 300px;
					margin: -37.5px -30px;
				}

				img.medal.onyx.unlocked {
					margin: -37.5px 0 0 0;
				}
			}
		}
	}
}
