BlackFadeWidget
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-family: "paper cuts 2";
	pointer-events: all;
	//cursor: "bug-default";
	background-color: black;
	flex-direction: column;
	padding: 50px;
	transform: scale( 1 );
	transition: all 0.1s ease-out;
}
