@import "../Menu/MenuTheme.scss";

DiedScreen.menu {
	background-color: transparent;
	pointer-events: none;

	.buttons .button {
		width: 600px;
		pointer-events: all;

		.icon.hand {
			padding: 5px 0;
		}
	}

	.title {
		align-self: flex-end;
		font-size: 88px;
		color: lightgray;
	}

	.table {
		flex-direction: column;
		width: 600px;
		mix-blend-mode: lighten;

		.header {
			opacity: 0.3;
		}

		.row {
			white-space: nowrap;

			> .name {
				flex-grow: 1;
			}

			> .stat {
				width: 100px;
				justify-content: flex-end;
			}

			> * {
				padding: 0px 8px;
			}
		}

		.me {
			color: #4cff00;
		}
	}
}
