@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Services;
@using System;
@inherits PanelComponent

<root class="menu">
	<div class="title">
		<span>You killed too many civilians</span>
	</div>

	<div class="container">
		<div class="buttons">
			<div class="button-group">
				<div class="button green" onclick="@(() => Retry())">
					<span class="icon">⟳</span>
					Retry
				</div>
				@if (Input.UsingController) {
					<span class="icon"><InputGlyph button="Restart" /></span>
				}
			</div>
			<div class="button-group">
				<div class="button red" onclick="@(() => ReturnToMenu())">
					<span class="icon hand">🖜</span>
					Return to menu
				</div>
				@if (Input.UsingController)
				{
					<span class="icon"><span style="opacity: 0.2">[</span> <InputGlyph button="Quit"/> <span style="opacity: 0.2">]</span></span>
				}
			</div>
		</div>
	</div>
</root>

@code
{
    void ReturnToMenu()
	{
		Game.ActiveScene.LoadFromFile("scenes/menu.scene");
		Sound.Play("ui.navigate.back");
	}

	void Retry()
	{
		Game.ActiveScene.Load(Game.ActiveScene.Source);
		Sound.Play("ui.navigate.back");
	}

	/// <summary>
    /// update every second
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( RealTime.Now.CeilToInt() );
}
