@import "../Menu/MenuTheme.scss";

FailedTooManyCivsKilledScreen.menu {
	background-color: rgb(5, 0, 0, 0.99);

	.title {
		align-self: center;
		font-size: 88px;
		color: lightgray;
	}

	.buttons .button {
		width: 600px;

		.icon.hand {
			padding: 5px 0;
		}
	}
}
