@import "../Menu/Shared/Menu.scss";

FailedTooManyCivsKilledScreen.menu {
	background-color: transparent;
	pointer-events: none;

	.title {
		align-self: flex-end;
		font-size: 88px;
		//color: lightgray;
	}

	> .container .buttons {
		.button-group {
			align-items: center;

			InputGlyph {
				margin-left: 0.5em;
			}
		}

		.button {
			width: 600px;
			pointer-events: all;

			.icon.hand {
				padding: 5px 0;
			}
		}
	}
}
