@import "../Menu/Shared/Table.scss";

TimeAddedWidget {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	font-weight: 400;
	font-family: Consolas;
	padding: 0px;
	transition: all 0.1s ease-out;
	pointer-events: none;

	.table {
		margin-top: 150px;
		width: 550px;
		height: 500px;
		justify-content: flex-end;
		align-content: flex-start;
		align-items: flex-start;
	}

	.row {
		color: white;
		align-self: flex-start;

		label {
			text-align: right;
			width: 100%;
			text-shadow: 0 0 2px black, 0 0 10px black;
			font-size: 50px;
		}
	}
	/*.row.minus {
		color: red;
	}

	.row.positive {
		color: lime;
	}*/
}
