{
  "Version": 2,
  "Mixers": {
    "Guid": "6e8f217e-2a8e-46f3-b15f-24dda2032c69",
    "Name": "Master",
    "Volume": 1,
    "Mute": true,
    "Solo": false,
    "Processors": [],
    "Children": [
      {
        "Guid": "ad106861-0603-4021-b846-5c2b7fa0ede8",
        "Name": "Soundtrack",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "156db03c-14ef-4511-a7d2-2870844590c7",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "bfb5c557-c214-4447-980d-1ab9107faf6d",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "077bf72b-6075-44fd-b4aa-97765a28f0e9",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}